<h2>Samtykke fra deltakere</h2>

<a href="?page={{GET('page')}}&action=sendtoall" class="btn btn-warning">Send til alle som ikke har fått tidligere</a>

{% if message is defined %}
	<div class="clearfix"></div>
	<div class="alert alert-{{ message.level }}">
		{% if message.header is defined %}
			<h4>{{ message.header|raw }}</h4>
		{% endif %}
		{{ message.body|raw }}
		
		{% if message.code is defined %}
			<br />		
			<small>{{ message.code }}</small>
		{% endif %}
	</div>
	<div class="clearfix"></div>
{% endif %}

{% for gruppe in samtykker %}
	<h2>{{ gruppe.navn }}</h2>
	<p class="lead">{{ gruppe.beskrivelse }}</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Person</th>
				<th>Alder</th>
				<th>Status</th>
				<th>Handlinger</th>
			</tr>
		</thead>
		
		<tbody>
			{% for person in gruppe.personer %}
				<tr>
					<td>
						{{ person.getNavn() }}
						{% if person.harForesatt() %}
							<br />
							<small>
								Foresatt: {{ person.getForesatt().getNavn() }} ({{ person.getForesatt().getMobil() }})
							</small>
						{% endif %}
					</td>
					
					
					<td>{{ person.getAlder() }}</td>
					
					
					{% if person.getKategori().getId() == 'u13' %}
						<td>
							Foresatt: <i class="label label-{{ person.getForesatt().getStatus().getLevel() }}">{{ person.getForesatt().getStatus() }}</i>
							<br />
							Deltaker: <i class="label label-{{ person.getStatus().getLevel() }}">{{ person.getStatus() }}</i>
						</td>
					{% elseif (person.getKategori().getId() == 'u15' and person.harForesatt()) or person.harForesatt() %}
						<td class="text-{{ person.getStatus().getLevel() }}">
							Deltaker: <i class="label label-{{ person.getStatus().getLevel() }}">{{ person.getStatus() }}</i>
							<br />
							Foresatt: <i class="label label-{{ person.getForesatt().getStatus().getLevel() }}">{{ person.getForesatt().getStatus() }}</i>
						</td>
					{% else %}
						<td class="tetx-{{ person.getStatus().getLevel() }}">
							<i class="label label-{{ person.getStatus().getLevel() }}">{{ person.getStatus() }}</i>
						</td>
					{% endif %}
					
					
					<td>
						{# Vi har aldri sendt sms til deltakeren #}
						{% if person.getStatus().getId() == 'ikke_sendt' %}
							<a href="?page={{GET('page')}}&action=samtykke&id={{person.getId()}}" class="btn btn-success btn-sm btn-xs btn-mini">
								Send samtykke-sms
							</a>
						{% endif %}

						{# Deltaker har ikke trykket på lenken #}
						{% if person.getStatus().getId() not in ['godkjent','ikke_godkjent','ikke_sendt'] %}
							<a href="?page={{GET('page')}}&action=purring&id={{person.getId()}}" class="btn btn-primary btn-sm btn-xs btn-mini">
								Send purring
							</a>
							{% if person.getKommunikasjon().har('purring') %}
								<br />
								<small>
									Purret {{ person.getPerson().getFornavn() }} 
									{{ person.getKommunikasjon().get('purring').getTimestamp() }}
								</small>
							{% endif %}
						{% endif %}
						
						{# Deltaker har sagt godkjent/ikke godkjent, men foresatte har ikke gjort noe #}
						{% if person.getStatus().getId() in ['godkjent','ikke_godkjent'] and person.harForesatt() and person.getForesatt().getStatus().getId() not in ['godkjent','ikke_godkjent'] %}
							<a href="?page={{GET('page')}}&action=purring&foresatt=true&id={{person.getId()}}" class="btn btn-primary btn-sm btn-xs btn-mini">
								Send purring til foresatt
							</a>
							{% if person.getKommunikasjon().har('purring_foresatt') %}
								<br />
								<small>
									Purret {{ person.getForesatt().getNavn() }} 
									{{ person.getKommunikasjon().get('purring_foresatt').getTimestamp() }}
								</small>
							{% endif %}

						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endfor %}